/* reset */
body {
  margin: 0; }

.highlight {
  border-radius: 4px;
  padding: 0;
  margin-bottom: 24px; }
  .highlight pre {
    color: #E6E6E6;
    border: 0 transparent; }
  .highlight .text,
  .highlight .x {
    color: whitesmoke; }

.lineno:after {
  content: " "; }

#side-nav {
  width: 213px;
  margin-top: 85px; }
  @media (min-width: 1200px) {
    #side-nav {
      width: 263px; } }
  #side-nav .nav li a {
    color: #363636; }
  #side-nav .nav li.active a {
    color: white;
    background: #333; }
  @media (max-width: 992px) {
    #side-nav.affix {
      position: static; } }

.page-header {
  padding-top: 85px; }
